.nav-item{
    width: 10vW;
    min-width: 90px;
    box-sizing: border-box;
    text-align: center;
    width: fit-content;
    
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.left-links,
.right-links {
  display: flex;
  gap: 1.2rem;
}
.right-links{
    margin-right: 25px;
}


.nav-link{
    font-size: 16px;
    padding: 0 ;
    margin: 0 0;
    text-align: center;
}

.navbar-brand{
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 150px;
}
.navbar{
    height: 60px;
    width: 100vw;
    z-index: 1;
}
.container-fluid{
    
    padding: 0;
}
.logo-1, .logo-2{
    margin: 0;
}
.logo-2{
    color: darkgoldenrod;
}
.active-link {
  color:darkgoldenrod !important;
  font-weight: bold;
 
}

.nav-link:hover{
    color: darkgoldenrod;
}
.navbar-collapse.show{
    background-color: #2b3035;
    
}

.login-button{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    height: 25px;
    padding: 0;
    margin: 0 0;
    border-radius: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;



}
.login-button:hover{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    background-color: #ffffff;
}



@media only screen and (max-width: 768px) {
    
    .left-links, .right-links {
        display: block;
        width: 100%;
    }

    .nav-link{
        text-align: start;
        align-items: center;
        
    }
    .right-links{
        margin-left: 0;
        justify-content: flex-start;
        height: fit-content;
    }

    .nav-item{
        margin: 3px 10px;
        width: 100%;
        text-align: start;
        height: 30px;
        align-content: center;        
    }
    .navbar-toggler-icon{
        width: 20px;
    }
    .navbar-toggler{
        width: 40px;
        padding: 0;
        margin-right: 10px;
    }
    .login-button{
        display: block;
        width: 100%;
    }
    .login-button:hover{
        color: darkgoldenrod;
    }



}
